
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');

.btn-default {
  background: #7E2627;
  color: #fff;
  font-weight: 700;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  font-size: 14px;
}

.experience-text {
  background: linear-gradient(90deg, rgba(126,38,39,1) 0%, rgba(233,74,75,1) 46%, rgba(126,38,39,1) 100%);
}

.card {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  border: none;
  margin-bottom: 85px !important;
  border-radius: 5%;
  background: linear-gradient(#fff,#ffe9e9);
  width: 95%;
}

.card:hover {
  transform: scale(1.05);
  transition: all 1s ease;
  z-index: 999;
}

.card-01 .card-body {
  position: relative;
  padding-top: 106px;
}

.card-01 .badge-box {
  position: absolute;
  top: -55px;
  left: 43%;
  width: 150px;
  height: 150px;
  margin-left: -50px;
  text-align: center;
}

.badge-box img {
  border-radius: 50%;
  margin-bottom: 100px;
  box-shadow: 1px -5px 20px rgba(0, 0, 0, 0.3);
  
}

.card-title {
  font-weight: 600;
  font-family: 'Heebo', sans-serif;
  font-size: 1.5em;
  /* display: none; */
}

.doctorid {
font-weight: bold;
}


        a.menuzord-brand {}

        @media screen and (max-width: 700px) {
            a.menuzord-brand {
                margin-left: 20px;
                height: auto;
                width: 220px;
            }
        }

        .badge-box img {
            border: 8px solid #f3f3f3;;
        }
   